{% set tag = tag or 'all' %}
<div style="display: flex; flex-wrap: wrap;">
  {% for post in collections[tag] %}
  <div style="width: 10ch; height: 10ch; background-color: skyblue; margin: 2ch; display: flex; align-items: center; justify-content: center; text-align: center;">
    <a href="{{ post.url }}">
      {% if post.data.thumbnail %}
      <img src={{ post.data.thumbnail }}>
      {% else %}
      {{ post.data.title or post.page.fileSlug }}
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>