---
pagination: 
  data: collections._tags._gallery
  size: 1
  alias: tag
permalink: /tagged/{{ tag }}/
eleventyComputed:
  title: "tagged: {{ tag }}"
---
<h1>{{ title }}</h1>
{% include 'thumbnails.njk' %}
