@import "style.css";
feed {
  background-color: lightgrey;
}
feed title {
  display: block;
  font-weight: bold;
}
section {
  background-color: lightblue;
  margin: 2ch 0;
  padding: 2ch;
}
section div {
  max-width: 100%;
  background-color: orange !important;
}