html {
  background-color: darkslategray;
  padding: 1ch;
  font-family: consolas, monospace
}

body {
  background-color: lightslategray;
  margin: 0 auto;
  padding: 1ch;
  max-width: 80ch;
}

:first-child {
  margin-top: 0;
}

h1 {
  text-align: center;
}

nav ul {
	list-style: none;
	padding-left: 0;
}
nav li {
	display: inline;
}
nav li + li::before {
	content: ' | ';
}

img {
  max-width: 100%;
}

.gallery-thumbnail-list .gallery-thumbnail img {
  border: none;
  background-color: darkslategrey;
  padding: .5rem;
}

.gallery-taglist a {
  border: none;
  padding: .5rem;
  color: lightgrey;
  background-color: darkslategrey;
}

