html {
  background-color: grey;
  padding: 1ch;
}

body {
  background-color: beige;
  margin: 0 auto;
  padding: 1ch;
  max-width: 80ch;
}
:first-child {
  margin-top: 0;
}

nav ul {
	list-style: none;
	padding-left: 0;
}
nav li {
	display: inline;
}
nav li + li::before {
	content: ' | ';
}

img {
  max-width: 100%;
}

.gallery-taglist {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
.gallery-taglist a {
  display: inline-block;
  padding: .5rem;
  background-color: skyblue;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
}
.gallery-list .gallery-item {
  display: inline-block;
  text-align: center;
}
.gallery-list .gallery-item img {
  height: 10rem;
  display: inline-block;
  border: .5rem tan ridge;
  box-sizing: border-box;
}
.gallery-list .gallery-item p {
  background-color: white;
  width: fit-content;
  margin: 0 auto;
  padding: .5rem;
}

.gallery-image-container {
  width: 100%;
  text-align: center;
}
.gallery-image {
  display: inline-block;
  box-sizing: border-box;
  margin: .5rem auto;
  padding: .5rem;
  background-color: lightblue;
}
