html {
  background-color: grey;
  padding: 1ch;
}

body {
  background-color: lightgoldenrodyellow;
  margin: 0 auto;
  padding: 1ch;
  max-width: 80ch;
}
:first-child {
  margin-top: 0;
}

nav ul {
	list-style: none;
	padding-left: 0;
}
nav li {
	display: inline;
}
nav li + li::before {
	content: ' | ';
}