---
pagination: 
  data: collections._tags._gallery
  size: 1
  alias: tag
eleventyComputed:
  title: "tagged: {{ tag }}"
  permalink: "/tagged/{{ tag }}/"
  atom: "{{ page.url }}/atom.xml"
---
<h1>{{ title }}</h1>
{% galleryThumbnailList collections[tag] %}
